<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to PragWash!</title>
    <meta name="description" content="PragWash - [description]">
    <link id="favicon" rel="icon" href="https://Glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    
    
    
  </head>
  <div class="flex-container">
    <header>
      <img src="https://cdn.glitch.com/2ea1f8b5-5042-42ca-a8a9-a445ca158248%2Fpragwash.png?1553310369898" alt="logo" height="42"/>
    
    </header>
  </div>
  
  <body>
    
    <div class="flex-container">
      
      <h2 class="bold" style="flex: 0 0 15px">Hola!</h2>  
      
      <p>Inserte el numero y mensaje para notificar al cliente:</p>
      
      <form>
        
        <select name="messagingService">Servicio de mensajeria    
          
          <!-- <option value="placeholder" disabled selected>Servicio de mensajeria</option> -->
          
          <option value="whatsapp">WhatsApp</option>
          
          <option value="sms">SMS</option>
        
          <input name="phoneNumber" type="tel" maxlength="100" placeholder="+5(555)555-5555">
        
        </select>
        
        <textarea name="update" maxlength="100" placeholder="Escriba el mensage aqui"></textarea>
      
        <button type="submit" id="submit-update">Mandar Mensaje</button>
      
      </form>
      
      <div>
    <main>

      <section class="updates">
        <ul id="updates"></ul>
      </section>
      
      <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v3.2'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution="setup_tool"
        page_id="1343904655687888"
        logged_in_greeting="Hi! How can we help you?"
        logged_out_greeting="Hi! How can we help you?">
      </div>
    </main>

    <footer>
      Made with ❤️ by <a href="https://pragcore.com">PragCore</a>!
    </footer>

    <!-- include the PragWash button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="GlitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.Glitch.me/button.js"></script>

  </body>
  
</html>
