<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to PragWash!</title>
    <meta name="description" content="PragWash - [description]">
    <link id="favicon" rel="icon" href="https://PragWash.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        PragWash
      </h1>
    </header>

    <main>
      <p class="bold">Hola,</p>
      
      <p>Inserte el numero y mensaje para el cliente:</p>
      
      <form>
        <input name="update" type="text" maxlength="100" placeholder="Type message to send here" aria-labelledby="submit-update">
        <button type="submit" id="submit-update">Send Message</button>
      </form>
      
      <section class="updates">
        <ul id="updates"></ul>
      </section>
    </main>

    <footer>
      Made with ❤️ by <a href="https://pragcore.com">PragCore</a>!
    </footer>

    <!-- include the PragWash button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="GlitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.Glitch.me/button.js"></script>

  </body>
</html>
