/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
/*   margin: 2em; */
  background-color: white;
}

h1 {
  font-style: italic;
  color: #5856D6;
  font-weight: bold;
  line-height: 1.2em;
}

h2 {
/*   color: #3a3a3a; */
/*   margin-bottom: 5px; */
/*   padding: 5px; */
  display: inline-block;
  width: 100%;
  max-width: 340px;
/*   border-radius: 3px; */
}

.bold {
  font-weight: bold;
}

p {
/*   margin-bottom: 5px; */
  padding: 5px;
  width: 100%;
  max-width: 340px;
  font-weight: bold;
  color: #3a3a3a;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {    
  width: 100%;
  max-width: 340px;  
  height: auto;
}

input {
  display: block;
  color: #3a3a3a;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}

select {
  background-color: white;
  color: #3a3a3a;
  display: block;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 20px;
  width: 100%;
}

textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  color: #3a3a3a;
}

button {
  background: #1D62F0;
  color: white;
  border-style: outset;
  background-color: #5856D6;
  height: 50px;
  width: 100%;
  font: bold 15px arial, sans-serif;
  text-shadow:none;
}

button:hover {
  background-color: #5856D6;
  color: lightgray;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}